*{
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}
body{
    position: absolute;
    width: 100%;
    height: 400%;
    overflow-x:  hidden;
}
.back{
    /* z-index: 2; */
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border: 0px solid red;
    background: -webkit-linear-gradient(top,rgb(125, 195, 228),white);
}
.one{
    position: absolute; top: -350px; right: -150px;
    width: 1000px; height: 1000px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: #2210ff ; color: white;
    text-align: center;
    font-size: 1.5rem;
}
div.circle {
    
    top: -350px; right: -150px;
    width: 1000px; height: 1000px; border-radius: 50%;
    background-color: rgb(73, 102, 197);
    margin: 20px 30px; 
    position: absolute;
    transition: all 1s ease-in-out;
}

div.circle:hover {  
    box-shadow: 
    inset 0 0 0 500px rgba(25, 40, 88, 0.5);
}

div.circle1 {
    
    top: -150px; right: -550px;
    width: 1000px; height: 1000px; border-radius: 50%;
    background-color: rgb(226, 59, 137);
    margin: 20px 30px; 
    position: absolute;
    transition: all 1s ease-in-out;
}

div.circle1:hover {  
    box-shadow: 
    inset 0 0 0 500px rgba(88, 25, 69, 0.5);
}

div.circle2 {
    
    top: -550px; right: 150px;
    width: 1000px; height: 1000px; border-radius: 50%;
    background-color: rgb(230, 169, 78);
    margin: 20px 30px; 
    position: absolute;
    transition: all 1s ease-in-out;
}

div.circle2:hover {  
    box-shadow: 
    inset 0 0 0 500px rgba(131, 113, 55, 0.5);
}
div.circle3 {
    
    top: 20px; right: 1500px;
    width:300px; height: 300px; border-radius: 50%;
    background-color: rgb(199, 58, 15);
    margin: 20px 30px; 
    position: absolute;
    transition: all 1s ease-in-out;
}

div.circle3:hover {  
    box-shadow: 
    inset 0 0 0 200px rgba(88, 52, 38, 0.5);
}
div.circle4 {
    
    top: 600px; right: 800px;
    width:100px; height: 100px; border-radius: 50%;
    background-color: rgb(250, 216, 64);
    margin: 20px 30px; 
    position: absolute;
    transition: all 1s ease-in-out;
}

div.circle4:hover {  
    box-shadow: 
    inset 0 0 0 50px rgba(95, 94, 31, 0.5);
}
div.circle4>li{
    width: 30px; height: 20px;
    position: absolute;
    text-align: center;
    width:100px; height: 100px; border-radius: 50%;
    top: 40px;
    font-weight: bold;
}
.menu{
    position: absolute;
    width: 700px;
    height: 1000px;
    border-right: 100px solid transparent;
    border-bottom: 1000px solid rgb(255, 255, 255);
    z-index: 1;
    transition: all 0.8s;
    left: -700px;
}
.cbtn{
    width: 50px; height: 50px; border-radius: 100%;
    position: absolute;
    background: white;
    right: 20px;
    top: 20px;
    display: none;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}
.cbtn:hover{
    box-shadow: 
    inset 0 0 0 500px rgba(165, 165, 165, 0.5);
}
.bg{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    display: none;
    opacity: 0.5;
    
}

.cgrf{
    border-top: 1px solid rgb(0, 0, 0);
    width: 30px;
    height: 25px;
    position: absolute;
    transform: rotate(130deg);
    top: 3px;

}
.cgrf2{
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 30px;
    height: 25px;
    right: 1px;
    position: absolute;
    transform: rotate(50deg);
    top: 3px;

}

div.circle5 {
    
    top: 350px; right: 1300px;
    width:30px; height: 30px; border-radius: 50%;
    background-color: rgb(207, 64, 250);
    margin: 20px 30px; 
    position: absolute;
    transition: all 1s ease-in-out;
}

div.circle5:hover {  
    box-shadow: 
    inset 0 0 0 30px rgba(75, 31, 95, 0.5);
}
#title>li:hover{
    font-weight: bold;
}
#title>li{
    width: 1000px;
}
#title2>li{
    width: 400px;
}
#title>li{
    position: relative; top: 0; left: 100px;
    width: 600px; height: 70px;
    margin-top: 100px;
    margin-left: 100px;
    text-indent: 50px;    
    animation: title_ani 1s;
    font-size: 200px;
    font-weight: bold;
    
}
#title2>li{
    margin-top: 100px;
    animation: title_ani2 1s;
    font-size: 200px;
    position: relative;
    width: 600px; height: 70px;
    top: 0; left: 1200px;
    font-weight: bold;
 
}
@keyframes title_ani2{
    0% {left: -100px;}
    100% {left: 1200px;}

}
@keyframes title_ani{
    0% {left: -100px;}
    100% {left: 100px;}

}
@keyframes title_ani3{
    0% {left: -100px;}
    100% {left: 100px;}

}

.subtitle{
    width: 1000px; height: 500px;  
    left: -700px;
    margin-top: 100px;
    position: absolute;
    transition: all 0.8s;
}
.subtitle>li{
    font-size: 40px;
    margin-top: 10px;
    
}
#title>li:hover{
    color: white;
}
#title2>li:hover{
    color: white;
}
.menu>ul{
position: absolute;
top: 200px;
}
.m1{
    width: 630px;
    height:100px;
    border-right: 10px solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}
.m1:hover{
    border-bottom: 100px solid rgb(158, 158, 158);
}
.m2{
    width: 640px;
    height:100px;
    border-right: 10px solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    position: relative;
    transition: all 0.5s ease-in-out;
}
.m2:hover{
    border-bottom: 100px solid rgb(158, 158, 158);
}
.m3{
    width: 650px;
    height:100px;
    border-right: 10px solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    position: relative;
    transition: all 0.5s ease-in-out;
}
.m3:hover{
    border-bottom: 100px solid rgb(158, 158, 158);
}
.m4{
    width: 660px;
    height:100px;
    border-right: 10px solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    position: relative;
    transition: all 0.5s ease-in-out;
}
.m4:hover{
    border-bottom: 100px solid rgb(158, 158, 158);
}
.menu>ul>li>a{
    color: black;
    margin-top: 10px;
    left: 40px;
    position: absolute;
    font-size: 50px;
}
.submenu1{
    position: absolute;
    z-index: 2;
    display: none;
    top: 100px;
}
.submenu2{
    position: absolute;
    z-index: 1;
    display: none;
    top: 100px;
}

.submenu1>li:hover{
    border-bottom: 100px solid rgb(158, 158, 158);
}
.submenu2>li:hover{
    border-bottom: 100px solid rgb(158, 158, 158);
}
.submenu1>li>a{
    /* position: absolute; */
    margin-top: 25px;
    font-size: 30px;
    left: 100px;
    color: black;
}
.submenu2>li>a{
    /* position: absolute; */
    margin-top: 25px;
    font-size: 30px;
    left: 100px;
    color: black;
}
.sm31{
    z-index: 1;
    position: relative;
    width: 660px;
    height:30px;
    border-right: 10px solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}
.sm31>a{
    position: absolute;
    margin-top: 30px;
}
.sm31:hover{
    border-bottom: 100px solid rgb(158, 158, 158);

}
.sm32{
    z-index: 1;
    position: relative;
    
    width: 670px;
    height:30px;
    border-right: 10px solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}
.sm32>a{
    position: absolute;
    margin-top: 30px;
}
.sm32:hover{
    border-bottom: 100px solid rgb(158, 158, 158);

}
.sm33{
    z-index: 1;
    position: relative;
    width: 680px;
    height:30px;
    border-right: 10px solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;

}
.sm33>a{
    position: absolute;
    margin-top: 30px;
}
.sm33:hover{
    border-bottom: 100px solid rgb(158, 158, 158);

}
.sm41{
    z-index: 1;
    position: relative;
    width: 670px;
    height:30px;
    border-right: 10px solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
   

}
.sm41>a{
    position: absolute;
    margin-top: 30px;
}
.sm41:hover{
    border-bottom: 100px solid rgb(158, 158, 158);

}